body {
    height: 100vh;
    margin: 0px;
}

.page-name {
    margin-top: 0px;
    padding-left: 250px;
}

.container {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    text-align: center; 
    background:#CCCCCC;
    float: left;
    min-height: 100vh;
    width: 200px;
    border-right: 1px solid #669999;
}

.head {
    padding-top: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #669999;
}

.text-pole {
    padding-top: 20px;
    padding-left: 250px;
}

.button-сlass{
    margin-top: 25px;
    width: 70%;
    height: 50px;
    border: 1px solid #669999;
}

.div-no-button-class {
    margin-top: 25px;
    height: 31px;
}

#nextJoke {
    margin-top: 86px;
}

#showFavorite {
    margin-top: 50vh;
}